.editor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: solid 10px rgba(0 0 0 / 35%);
  border-radius: 4px;

  &-panel {
    background-color: rgba(174 174 174 / 35%);
  }

  &-header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: rgb(215 215 103);
  }
}
