* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin: 0;
  background-color: #2e2a23;
}

.app {
  display: flex;
}

.left-column {
  margin-inline: auto;
}
